<div class="content">
  <div>
    <img src="./assets/AND_gate.PNG" alt="">
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"> A </span>
    </div>
    <input type="number" min="0" class="form-control" (change)="predict()" [(ngModel)]="inputA">
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"> B </span>
    </div>
    <input type="number" min="0" id="b" class="form-control" (change)="predict()" [(ngModel)]="inputB">
  </div>

  <div>
    Resultado: {{ prediction }}
  </div>
  <div *ngIf="myPrediction">
    Mi resultado: {{ myPrediction }} => {{ myRoundedPrediction }}
  </div>
</div>
